<div class="jumbotron text-center bg-white">
  <h1 class="display-4">Corona Covid 19 Tracker</h1>
  <hr class="my-1">
  <div class="row">
    <div class="col m-3 p-3">
      <div class="card">
        <div class="card-body">
          <div class="ui statistic">
            <div class="label">
              Confirmed
            </div>
            <div class="value">
              {{this.totalConfirmed}}
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="col m-3 p-3">
      <div class="card">
        <div class="card-body">
          <div class="ui statistic">
            <div class="label">
              Deaths
            </div>
            <div class="value">
              {{this.totalDeaths}}
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="col m-3 p-3">
      <div class="card">
        <div class="card-body">
          <div class="ui statistic">
            <div class="label">
              Recovered
            </div>
            <div class="value">
             {{this.totalRecovered}}
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="col m-3 p-3">
      <div class="card">
        <div class="card-body">
          <div class="ui statistic">
            <div class="label">
              Active
            </div>
            <div class="value">
              {{this.totalActive}}
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  
   
</div>